<template>
  <div>
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <label for="connect">WebSocket connection:</label>
              <button
                id="connect"
                class="btn btn-default"
                type="submit"
                :disabled="connected == true"
                @click.prevent="connect"
              >
                Connect
              </button>
              <button
                id="disconnect"
                class="btn btn-default"
                type="submit"
                :disabled="connected == false"
                @click.prevent="disconnect"
              >
                Disconnect
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <label for="name">What is your name?</label>
              <input
                type="text"
                id="name"
                class="form-control"
                v-model="name"
                placeholder="Your name here..."
              />
            </div>
            <div class="form-group">
              <label for="id">What is receiver id?</label>
              <input
                type="text"
                id="id"
                class="form-control"
                v-model="id"
                placeholder="What is receiver id?"
              />
            </div>
            <div class="form-group">
              <label for="message">What is your message?</label>
              <input
                type="text"
                id="message"
                class="form-control"
                v-model="message"
                placeholder="Your message here..."
              />
            </div>
            <button
              id="send"
              class="btn btn-default"
              type="submit"
              @click.prevent="send"
            >
              Send
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table id="conversation" class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in receivedMessages" :key="item.name">
                <td>{{ item.name }}</td>
                <td>{{ item.message }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";

export default {
  name: "websocketdemo",
  data() {
    return {
      receivedMessages: [],
      name: null,
      message: null,
      id: null,
      connected: false,
    };
  },
  methods: {
    send() {
      if (this.stompClient && this.stompClient.connected) {
        const msg = { id: this.id, name: this.name, message: this.message };
        this.stompClient.send("/app/chat",JSON.stringify(msg));
        this.receivedMessages.push(msg)
      }
    },
    connect() {
      this.socket = new SockJS("http://localhost:8080/ws");
      this.stompClient = Stomp.over(this.socket);
      this.stompClient.connect({username:"alma"}, (x) => {
        this.connected = true;
        this.stompClient.subscribe(`/user/${x.headers['user-name']}/queue/messages`, (tick) => {
          this.receivedMessages.push(JSON.parse(tick.body));
        });
      });
    },
    disconnect() {
      if (this.stompClient) {
        this.stompClient.disconnect();
      }
      this.connected = false;
    },
    tickleConnection() {
      this.connected ? this.disconnect() : this.connect();
    },
  },
};
</script>